* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fcd33b;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@font-face {
    font-family: 'FontePokemon';
    src: url('/assets/fonts/Pokemon Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pokedex-title {
    font-family: 'FontePokemon', sans-serif;
    font-size: 3rem;
    text-align: center;
}